@{
    ViewData["Title"] = "Om mig";
}


<div class="container-fluid bg-1 text-center">
    <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFr5jP2qs7JJg/profile-displayphoto-shrink_800_800/0/1558985451265?e=1647475200&v=beta&t=YYUBPNTnie9lF07nzZYOrNO373nbuMtHV_VgNFZP6-8"
        alt="Foto på Dardan Drini" class="mb-5 mt-5 d-inline rounded-circle" width="200">
    <h1>Dardan Drini</h1>

    <h5 class="mb-2 mt-5">
        Om mig
    </h5>
    <p class="">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br />
        Dolorem natus, ipsum recusandae obcaecati, reprehenderit laudantium <br />
        officia facere nostrum, iste impedit rerum hic sapiente! <br />
        Rerum quisquam obcaecati delectus repellat, quis ipsam.
    </p>
    <div>
        <a href="tel:0046762878748" style=" text-decoration: none;">+46 762 87 87 48</a>
    </div>
    <div>
        <a href="mailto:dardan@live.se" style=" text-decoration: none;">dardan@live.se</a>
    </div>




</div>
